   <div id= "main">     
        <div class="one dark cover">
            <div class="alert alert-success" role="alert">
              <strong>Parabéns pela reserva!</strong> <a href="/" class="alert-link">Clique aqui para retornar à página inicial.</a>
            </div>
        </div>
    </div>