

<body class="is-preload">
    
		<!-- Header -->
			<div id="header">
				<div class="top">
				    
				    	<!-- Logo -->
						<div id="logo">
							<h1 id="title">Minions Store</h1>
							<p>Favorita da Criançada!</p>
						</div>
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="icon solid fa-home">Intro</span></a></li>
								<li><a href="#produtos" id="portfolio-link"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span><span class="icon solid fa-th">Produtos</span></a></li>
								<li><a href="#formulario" id="contact-link"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span class="icon solid fa-envelope">Formulário de Compra</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">
					<span id="minion-img">
						<img src= <%= asset_path "minion.png" %> alt="">
					</span>
				</div>

			</div>
</body>


