

<body class="is-preload">
    
		<!-- Header -->
			<div id="header">

				<div class="top">
				    
				    	<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
							<h1 id="title">Vinicius Machado</h1>
							<p>Instituto Militar de Engenharia</p>
						</div>
						<nav id="nav">
							<ul>
								<li><a href="#top" id="top-link"><span class="btn btn-default btn-lg">Inicio</span></a></li>
								<li><a href="#portfolio" id="portfolio-link"><span class="btn btn-default btn-lg">Meio</span></a></li>
								<li><a href="#about" id="about-link"><span class="btn btn-default btn-lg">Fim</span></a></li>
								<li><a href="#contact" id="contact-link"><span class="glyphicon glyphicon-headphones">Contato</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
						</ul>

				</div>

			</div>
</body>